.TrnInfo{
   display: flex;
   margin-top: 4rem;
   margin-bottom: 3rem;
   justify-content: center;
   font-size: 18px;
   white-space: nowrap;
}

.Tbtns{
   margin-top: 14rem;
}

.TGE{
   margin-right: 12px;
}

.TD{

}

.TEbtns{
   padding-top: 13.2rem;
   display: flex;
  justify-content: center;
  align-items: center;
}

.TSE{
   margin-right: 12px;
}

.TCE{

}


.EditTrnInput{
   width: 1rem;
   display: flex;
   margin-top: 3rem;
   justify-content: left;
}



input[type="text"] {
   font-size:16px;
}

.TrnEmailInput{

}


.TEbtn{
   display: flex;
   margin-top: 1rem;
}
 
 
 @media only screen and (max-width: 720px) {
   .container {
   width: 100%;
   max-width: 100%;
 }
 }
 

 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 60%;
        margin-top: 0;
    }
 }
 

 @media only screen and (max-width: 720px) {
   .inline { 
      display:block;
   }
 }

 
 @media only screen and (max-width: 720px) {
   .qtr {
   width: 100%;
 }
 }
 

 @media only screen and (max-width: 720px) {
   .three-qtr {
   width: 100%;
 }
 }
 
 
 @media only screen and (max-width: 720px) {
   select, input[type=text] { 
      width: 100%;
   }
 }