<div>

    <div *ngIf="!editMode">
        Trainer: {{trainer.name}} <br/>
        Email: {{trainer.email}} <br/>
        ID: {{trainer.id}} <br/>
        <button (click)="goToEdit()">Edit Trainer Info</button>
        <button (click)="deleteMe()">Delete Trainer</button> <br/> <br/>
    </div>

    <div class="container center" *ngIf="editMode">
        <div class="block">
            <div class="inline qtr"><label for="editName">Trainer Name:</label></div>
            <div class="three-qtr inline"><input type="text" [(ngModel)]="editName"/></div>
            
            <div class="inline qtr"><label for="editEmail">Trainer Email:</label></div>
            <div class="three-qtr inline"><input type="text" [(ngModel)]="editEmail"/></div>
            <button (click)="saveEdit()">Save Edits</button>
            <button (click)="cancelEdit()">Cancel Edits</button>
        </div>
    </div>
</div>