<div>
    <div class="rsvpform">
        <h1>Become A Pokemon Trainer!</h1>
        <hr/>
    </div>

    <div>
        <div class="container center">
            <div class="block">
                <div class="inline qtr"><label for="trainerName">Trainer Name:</label></div>
                <div class="three-qtr inline"><input type="text" [(ngModel)]="newTrainer.name"/></div><br/>

                <div class="inline qtr"><label for="trainerEmail">Trainer Email:</label></div>
                <div class="three-qtr inline"><input type="text" [(ngModel)]="newTrainer.email"/></div><br/>
                <button routerLink="/trainers" (click)="save(newTrainer)">Save Trainer</button>
            </div>
        </div> 
    </div>
</div>
    

