
.modernfont {
    font-family: 'Fredoka One', cursive;
    font-size: 120%
}
.retrofont {
    font-family: 'Montserrat', sans-serif;
      font-family: 'Press Start 2P', cursive;
      font-size: 75%;
}
html {
    /* font-family: 'Fredoka One', cursive; */
        font-family: 'Montserrat', sans-serif;
      font-family: 'Press Start 2P', cursive;
      font-size: 75%;
      
}
/* You can add global styles to this file, and also import other style files */
body {    
    margin:0;
    height: 100%;
    width: 100%;
    background-image:url(\assets\bulbpaper.png);
}
.header {
    text-align: center;
}
.container {
    width: 80%;
    margin: auto;
}

.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    /* font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif; */
    font-family: 'Fredoka One', cursive;
    font-size: 120%;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.10);
  }

  .bubbleMain {
    background-color: #5D9E91;
    /*#5D9E91*/
    /*#DEF1EF*/
    /*#ACD7A8*/
    /*#F18884*/
    outline-offset: 5px;
    border-color: rgb(201, 249, 228);
    border-radius: 10px;
    margin-right: 150px;
    margin-left: 150px;
    opacity: .8;
 }