<!DOCTYPE html>
<head>
    <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body >
    <div class="center container">
        <h1>Welcome to the world of </h1> 
            <div><img class="pokemonTitle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt=""></div>
            <div class="welcomeText">Hi there! My name is Professor Oak! 
                This world is inhabited by creatures called pokémon! For some people, pokémon are pets. 
                Others use them for fights. Myself...I study pokémon as a profession.</div> 
        
        <h3>To begin your pokemon adventure - <a routerLink="/addtrainer">become a trainer</a> and <a routerLink="/addteam">create your own pokemon team!</a></h3>
    </div>
</body>

