body{
    background-image:  url(..\Images\homepage3.png);
    background-repeat: no-repeat;
    background-position: center;
}

html,body{
    height: 100%;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.pokemonHeader{
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3858AB;
    -webkit-text-fill-color:#FBCC04;
}
.container{
    background-color: lightgrey;
    width: 53%;
}

.pokemonTitle{
    margin-left: 350px;
    height: 100px;
    width: 300px;
}

.welcomeText{
    font-family: 'Press Start 2P', cursive;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.welcome{
    font-size: 30px;
    margin-top: 20px;
    margin-right: 200px;
    display: flex;
}