/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
 }
 
 /* Style the label to display next to the inputs */
 label {
    padding: 12px 12px 12px 0;
    display: inline-block;
 }
 
 /* Style the submit button */
 input[type=submit] {
    background-color:cornflowerblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
 }
 
 /* Style the container */
 .container {
    border-radius: 5px;
    opacity:0.9;
    background-color:darkseagreen;
    padding:15px;
    max-width: 30%;
 }
 
 /* Floating column for labels: 25% width */
 .col-25 {
    width: 15%;
    margin-top: 6px;
 }
 
 /* Floating column for inputs: 75% width */
 .col-75 {
    width: 30%;
    margin-top: 6px;
 }
 
 /* Clear floats after the columns */
 .row:after {
    content: "";
    display: table;
    clear: both;
 }
 
 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 60%;
        margin-top: 0;
    }
 }
 
 .rsvpform {
    text-align: center;
    background-color:darkseagreen;
    opacity: .8;
    color: black;
    font-weight: bold;
    height: 150px;
    padding: 50px;
 }

 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }