<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>

<div class="bubbleMain flex">

    <div class="container">
        <div class="header">
            <img src="https://fontmeme.com/permalink/221207/145bcb50c51c7b04dd67145fd12b1795.png" alt="resize-images"
                border="0">
            <br>
            <a class="modernfont button-33" routerLink="">Home</a>
            &nbsp;&nbsp;
            <a class="modernfont button-33" routerLink="/pokemon">Pokédex</a>
            &nbsp;&nbsp;
            <a class="modernfont button-33" routerLink="/addtrainer">Become A Trainer</a>
            &nbsp;&nbsp;
            <a class="modernfont button-33" routerLink="/trainers">Trainer Cards</a>
            &nbsp;&nbsp;
            <a class="modernfont button-33" routerLink="/addteam">Team Builder</a>
            &nbsp;&nbsp;
            <a class="modernfont button-33" routerLink="/trainerteams">Trainer Teams</a>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>