<div>
    <div class="rsvpform">
        <h1>Create A New Pokemon Team!</h1>
        <hr />
    </div>
    
    <div>
        <div class="container center">
            <div class="block">
                <div class="inline qtr"><label for="teamName">Team Name:&nbsp;</label></div>
                <div class="three-qtr inline"><input type="text" [(ngModel)]="newTeam.team_name"></div>
            </div>
    
        <div class="block">
            <div class="inline qtr">
                <label for="trainerName">Trainer:&nbsp; &nbsp; &nbsp; &nbsp;</label>
            </div>
            <div class="three-qtr inline">
                <select [(ngModel)]="newTeam.trainer_id">
                    <option *ngFor="let trainer of trainerList" [value]="trainer.id">{{ trainer.name }}</option>
                </select>
            </div>
    
            <div class="block">
                <div class="inline qtr">
                    <label for="pokemon1"> Pokemon 1: </label>
                </div>
                <div class="three-qtr inline">
                    <select [(ngModel)]="firstPokemon">
                        <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon" >{{ pokemon.name }}</option>
                    </select>
                </div>
            </div>
    
            <div class="block">
                <div class="inline qtr">
                    <label for="pokemon2"> Pokemon 2: </label>
                </div>
                <div class="three-qtr inline">
                    <select [(ngModel)]="secondPokemon">
                        <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon" >{{ pokemon.name }}</option>
                    </select>
                </div>
            </div>
     
            <div class="block">
                <div class="inline qtr">
                    <label for="pokemon3"> Pokemon 3: </label>
                </div>
                <div class="three-qtr inline">
                    <select [(ngModel)]="thirdPokemon">
                        <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon" >{{ pokemon.name }}</option>
                    </select>
                </div>
            </div>
        
            <div class="block">
                <div class="inline qtr">
                    <label for="pokemon4"> Pokemon 4: </label>
                </div>
                <div class="three-qtr inline">
                    <select [(ngModel)]="fourthPokemon">
                        <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon"  >{{ pokemon.name }}</option>
                    </select><br/>
                </div>
            </div>
    
            <div class="block">
                <div class="inline qtr">
            <label for="pokemon5"> Pokemon 5: </label>
            </div>
                <div class="three-qtr inline">
                    <select [(ngModel)]="fifthPokemon">
                        <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon"  >{{ pokemon.name }}</option>
                    </select><br/>
                </div>
            </div>
    
            <div class="block">
                <div class="inline qtr">
            <label for="pokemon6"> Pokemon 6: </label>
            </div>
                <div class="three-qtr inline">
                    <select [(ngModel)]="sixthPokemon">
                        <option *ngFor="let pokemon of pokemonList" [ngValue]="pokemon"  >{{ pokemon.name }}</option>
                    </select><br/>
                </div>
            </div>
        <button routerLink="/trainerteams" (click)="saveIt()">Save</button>
        </div>
    </div>
</div>
    