<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<div class="font" style="font-size: larger; margin: 20px">Kanto Pokedex</div>
<div class="bubble">
    <ul>
        <div *ngFor="let pokemon of pokemonList">
            <li style="margin: 10px">
                <div class="pokeball">
                    <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" [title]="pokemon.name" />
                </div>
                <button (click)="getPoke(this.pokemon.id)" class="button-33" role="button"><div class="font">{{ pokemon.name }}</div></button>
                
            </li>
        </div>
    </ul>
</div>

<app-pokemon-detail></app-pokemon-detail>
